<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>You win</title>
</head>
<body>
<h2>
    После возвращения вы видите радостные лица жителей лагеря. Все благодарят вас за помощь. Варрив предлагает отправиться на восток.
    <br>
    Вы прошли игру! Поздравляю!
    <br>
    <form th:action="@{/index}" method="get">
        <input type="submit" value="Начать сначала">
    </form>
    <form th:action="@{/statistic}" method="post">
        <input type="submit" value="Посмотреть статистику">
    </form>
</h2>
</body>
</html>