<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
<form th:action="@{/login}" method="post">
    <div>
        <label for="login">Login:</label>
        <input type="text" id="login" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required>
    </div>
    <div>
        <input type="submit" value="Авторизоваться">
    </div>
    <div th:if="${param.error}">
        <p style="color:#e10c0c">Invalid username or password</p>
    </div>
</form>
<form th:action="@{registration}" method="get">
    <input type="submit" value="Зарегистрироваться">
</form>
</body>
</html>