<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{stat}"></title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1 th:text="#{list_of_characters}"></h1>
<table>
    <thead>
    <tr>
        <th th:text="#{name}"></th>
        <th th:text="#{class}"></th>
        <th th:text="#{game_quantity}"></th>
        <th th:text="#{win_quantity}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="character : ${characters}">
        <td th:text="${character.name}"></td>
        <td th:text="${character.characterClass}"></td>
        <td th:text="${character.gameQuantity}"></td>
        <td th:text="${character.winQuantity}"></td>
    </tr>
    </tbody>
</table>
<form th:action="@{/index}" method="get">
    <input type="submit" th:value="#{go_back}">
</form>
</body>
</html>